html, body
{
	padding: 0px;
	margin: 0px;
	background-image: url('../images/bg.jpg');
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #4b4b4b;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

	tr
	{
		border-bottom: solid 1px #d8d8d8;
	}
	
	tr:last-child
	{
		border: none;
	}
	
		th
		{
			height: 20px;
			text-align: left;
			background-color: #F6F6F6;
			border-bottom: solid 1px #d8d8d8;
			padding: 5px;
		}
		
			.messages th:first-child
			{
				width: 20px;
			}
			
			.messages th:last-child
			{
				width: 100px;
			}
		
		td
		{
			line-height: 25px;
			padding: 5px;
		}

#curtain
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(255,255,255,0.5);
	z-index: 10;
	display: none;
}

	#wrap
	{
		position: relative;
		width: 980px;
		margin: 0 auto;
	}
	
		#logo
		{
			position: absolute;
			left: 0px;
			top: 15px;
		}
	
	.loading-indicator
	{
		visibility: hidden;
	}
	
	#navigation
	{
		position: absolute;
		top: 30px;
		right: 0px;
		background-color: #FFF;
		border: solid 1px #d4d4d4;
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		background-image: url('../images/navigation-bg.jpg');
	}
		
		#navigation li
		{
			position: relative;
			display: inline;
			float: left;
			color: #7b7b7b;
			background-image: url('../images/navigation-seperator.jpg');
			background-position: top right;
			background-repeat: no-repeat;
		}
		
		#navigation li a
		{
			line-height: 28px;
			padding: 6px 16px 6px 16px;
		}
		
		#navigation li:last-child
		{
			background: none;
		}
		
	#loginbox
	{
		position: absolute;
		top: 59px;
		right: 0px;
		width: 192px;
		border: solid 1px #000;
		display: none;
		background-color: #fcfcfc;
		border: solid 1px #d8d8d8;
		padding: 5px 5px 5px 5px;
		z-index: 2;
	}
		
	#accountbox
	{
		position: absolute;
		top: 59px;
		right: 0px;
		width: 192px;
		border: solid 1px #000;
		display: none;
		background-color: #fcfcfc;
		border: solid 1px #d8d8d8;
		padding: 5px 5px 5px 5px;
		z-index: 2;
	}
	
	#uploadbox
	{
		width: 300px;
		min-height: 203px;
		margin-left: -150px;
		left: 50%;
		top: 200px;
		z-index: 100;
		display: none;
	}
	
		#uploadbox #type li
		{
			width:100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			display: inline-block;
			float: left;
			border-bottom: solid 1px #d8d8d8;
		}
		
		#uploadbox #type li:last-child
		{
			border: none;
		}
		
		#uploadbox #type li:hover
		{
			background-color: #f0f0f0;
			cursor: pointer;
		}
		
		
		#uploadbox #upload li
		{
			display: none;
			padding: 5px;
		}
	
	#loginbox input[type='text'], #loginbox input[type='password']
	{
		margin-top: 5px;
		width: 180px;
	}
	
	/* COLUMNS */
	#column1-s
	{
		position: absolute;
		left: 0px;
		top: 130px;
		width: 200px;
	}
	
	#column2-s
	{
		position: absolute;
		left: 220px;
		right: 220px;
		top: 130px;
	}
	
	#column2-m
	{
		position: absolute;
		left: 0px;
		right: 220px;
		top: 130px;
	}
	
	#column3-s
	{
		position: absolute;
		right: 0px;
		top: 130px;
		width: 200px;
	}
	
	#column3-m
	{
		position: absolute;
		right: 0px;
		left: 220px;
		top: 130px;
	}
	
	
	/* NOTIFICATIONS */
	.notification
	{
		position: absolute;
		top: -10px;
		right: 5px;
		width: 20px;
		height: 20px;
		line-height: 18px;
		text-align: center;
		font-size: 11px;
		color: #FFF;
	}
	.blue
	{
		background-image: url('../images/notifications/blue.png');
	}
	.yellow
	{
		background-image: url('../images/notifications/yellow.png');
	}
	.red
	{
		background-image: url('../images/notifications/red.png');
	}
	
	
	/* BOX */
	.box
	{
		position: relative;
		margin-bottom: 20px;
		background-color: #fcfcfc;
		border: solid 1px #d8d8d8;
		padding: 35px 5px 5px 5px;
		overflow: hidden;
	}
	
		.box .title
		{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			border-bottom: solid 1px #d8d8d8;
			background-image: url('../images/box-title.jpg');
			height: 28px;
			color: #7b7b7b;
			line-height: 28px;
			padding: 0px 5px 0px 5px;
		}
		
		.search input[type="text"]
		{
			width: 176px;
			line-height: 20px;
		}
		
		

	.nopadding
	{
		padding: 29px 0px 0px 0px;
	}
	
	
	
	/* HOME */	
	#most-popular li
	{
		width: 136px;
		display: inline-block;
		margin: 0px;
		padding: 5px;
		vertical-align: top;
	}
		
		#most-popular li p:first-child
		{
			font-weight: bold;
		}
		
		#most-popular li img:first-child
		{
			width: 135px;
			height: 100px;
			padding: 1px;
			border: solid 1px #DDD;
		}
	
	#schools li
	{
		line-height: 25px;
		cursor: pointer;
	}
	
	
	
	/* PROFILE */
	#status-update input[type="text"]
	{
		width: 515px;
		line-height: 20px;
		border: solid 1px #CACACA;
		padding: 5px;
	}
	
	#status-update input[type="submit"]
	{
		margin-top: 5px;
		padding: 5px;
		border: solid 1px #CACACA;
		color: #777;
		cursor: pointer;
	}
	
	#updates
	{
		margin-top: 10px;
	}
	
		#updates li
		{
			position: relative;
			padding: 10px 5px 10px 60px;
			min-height: 50px;
			border-bottom: solid 1px #EAEAEA;
		}
		
			#updates li:last-child
			{
				border: none;
			}
			
			#updates li .name
			{
				font-weight: bold;
			}
			
			#updates li img
			{
				position: absolute;
				top: 10px;
				left: 0px;
				width: 50px;
				height: 50px;
			}
	
	.fans li
	{
		position: relative;
		width: 32px;
		height: 32px;
		display: inline;
	}
	
	.fans li img
	{
		width: 34px;
		height: 34px;
	}
	
	.rate
	{
	}
	
		.rate li
		{
			display: inline-block;
			width: 16px;
			height: 16px;
			background-image: url('../images/star_0.png');
			margin: 0px 0px 0px 2px;
		}
		
		.rate .active
		{
			background-image: url('../images/star_1.png');
		}
	
	
	.reset
	{
		display: none;
	}
	
	
	#addcomment
	{
		position: relative;
		min-height: 50px;
		padding: 10px 10px 10px 70px;
		border-bottom: solid 1px #DDD;
	}
	
		#addcomment img
		{
			position: absolute;
			left: 10px;
			top: 10px;
			width: 50px;
			height: 50px;
		}
		
		#addcomment textarea
		{
			width: 670px;
			overflow: visible;
			padding: 5px;
		}
	
	
	#comments li
	{
		position: relative;
		padding: 10px 10px 10px 70px;
		min-height: 50px;
		border-bottom: solid 1px #EEE;
	}
	
		#comments li .author
		{
			font-weight: bold;
		}
	
		#comments li img
		{
			position: absolute;
			left: 10px;
			top: 10px;
			
			width: 50px;
			height: 50px;
		}
		
	fieldset
	{
		border: none;
	}
		
	#register-form dt
	{
		display: inline-block;
		width: 175px;
	}
	
	#register-form dd
	{
		
		display: inline-block;
		width: 300px;
		margin: 0px;
	}