img
{
	border: none;
	padding: 0px;
	margin: 0px;
}

p, input, textarea
{
	padding: 0px;
	margin: 0px;
	outline: none;
}

ul, ol, li
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

a
{
	color: inherit;
	text-decoration: none;
}

hr
{
	border: none;
	border-bottom: solid 1px #d8d8d8;
}

input[type="text"], input[type="password"], textarea
{
	border: solid 1px #CACACA;
	padding: 5px;
}

input[type="submit"],input[type="button"]
{
	margin-top: 5px;
	padding: 5px;
	border: solid 1px #CACACA;
	color: #777;
	cursor: pointer;
}